<div>
  this is the driver view
  <div>
    <button (click)="createMainRow()">Create Main Row with item</button>
  </div>
  <div>
    <button (click)="createNewCol()">Create Col - item</button>
  </div>
  <div>
    <button (click)="createRow()">createRow</button>
  </div>



  <mat-nav-list>
    <mat-list-item *ngFor="let link of splistData.list; let i = index" cdkDropList
                   [cdkDropListData]="splistData.list"
                   [cdkDropListConnectedTo]="['dropListDesto']"
    >
      <app-data [setdata]="link" (click)="select(i)" [cdkDragData]="link" cdkDrag></app-data>
      <button mat-icon-button (click)="select(i)">
        {{link.title}}
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>
