.div_top_hypers {
  background-color:#1d2528;

}



.c1{
  color: brown;
}
.c2{
  color: orange;
}
.c3{
  color: green;
}
.try2 app-data{

  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.try3 app-data{

  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.ulhorizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.lifl {
  float: left;
}
