<div *ngIf="arrange">

  <img src="../../assets/rowtype1.png" alt="two column" height="16" width="32" (click)="setConfig('c1')">

  <img src="../../assets/rowtype2.png" alt="three column" height="16" width="32" (click)="setConfig('c2')">
  <img src="../../assets/rowtype1.png" alt="two column" height="16" width="32" (click)="setConfig('c3')">
  <img src="../../assets/rowtype2.png" alt="three column" height="16" width="32" (click)="setConfig('c4')">
  <ul class="ulhorizontal">
    <li *ngFor="let col of columns" class="lifl">

      <ul>
        <li *ngFor="let row of col.spdataList" class="example-list">
          <app-data [setdata]="row" class={{cclass}}></app-data>
        </li>
      </ul>


    </li>
  </ul>
  <button (click)="setCanArrange(true)">OK</button>
</div>
<div class="div_top_hypers">
  <button *ngIf="canArrange" (click)="setCanArrange(false)">arrange</button>
  <ul class="ulhorizontal">
    <li *ngFor="let col of columns" class="lifl">

      <ul>
        <li *ngFor="let row of col.spdataList" class="example-list">
          <app-data [setdata]="row" class={{cclass}}></app-data>
        </li>
      </ul>


    </li>
  </ul>
</div>
