<div *ngIf="arrange">
  config 1; config 2; config 3; config 4;
  <ul>
    <li *ngFor="let data of siblings">
      <app-data [setdata]="data"></app-data>
    </li>
  </ul>
  <button (click)="setCanArrange(true)">OK</button>
</div>
<div class="div_top_hypers">
  <button *ngIf="canArrange" (click)="setCanArrange(false)">arrange</button>
  <ul class="ulhorizontal">
    <li *ngFor="let data of siblings" class="lifl">


      <app-data [setdata]="data" class={{cclass}}></app-data>

    </li>
  </ul>
</div>
