.highlight {
	color: red;
	background-color: #22282e;
	height: 40px;
	padding-top: 10px;
	box-sizing: border-box;
	margin-right: 10px;
    margin-bottom: 0;
    margin-top: 5px;
}

.normal{
	color: #e1e1e1;
	background-color: #34342b;
	height: 40px;
	padding-top: 10px;
	box-sizing: border-box;
	margin-right: 10px;
    margin-bottom: 0;
    margin-top: 5px;
}
.indent_1{
  text-indent: 8px;
}
.indent_2{
  text-indent: 16px;
}
