.highlight {
	color: red;
	background-color: lightblue;
	height: 40px;
	padding-top: 10px;
	box-sizing: border-box;
	margin-right: 10px;
    margin-bottom: 0;
    margin-top: 5px;
}

.normal{
	color: #4a4a4a;
	background-color: beige;
	height: 40px;
	padding-top: 10px;
	box-sizing: border-box;
	margin-right: 10px;
    margin-bottom: 0;
    margin-top: 5px;
}
