body{
  background-color: black;
  color: #8f8f8f;
}/* You can add global styles to this file, and also import other style files */
.gird-container{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 30px 200px;
}

html, body { height: 100%; }
body { margin: 0; font-family: "Akkurat Pro", arial, sans-serif; }

app-spcontainer {
	height: 600px;
	width: 100%;
    background-color: #010101;
}

li .div_top_hypers {
    background-color: black;
}
li:nth-child(1) .div_top_hypers {
    margin-top: 10px;
}
li:nth-child(odd) .div_top_hypers {
    background-color: #fff;
}
li:nth-child(even) .div_top_hypers {
    background-color: #e6e6e6;
}

button {
	display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    margin: 10px 5px;
    letter-spacing: .5px;
    text-transform: uppercase;
    cursor: pointer;
    min-width: 80px;
    padding: .625rem 1.0625rem;
    font-size: .875rem;
    line-height: 1.25;
    transition: all .15s ease-in-out;
    color: #fff;
    background-color: #333333;
    border-color: green;

}
